h1, .h1 {
	font-size: 4.2222222rem;
	line-height: (3 * $line-height);
	margin-top: $line-height;
	margin-bottom: (2 * $line-height);
}
h2, .h2 {
	font-size: 2.6111111rem;
	line-height: (2 * $line-height);
	margin-top: $line-height;
	margin-bottom: $line-height;
}
h3, .h3 {
	font-size: 1.6111111rem;
	line-height: $line-height;
	margin-top: $line-height;
	margin-bottom: 0;
}
h4, .h4 {
	font-size: 1rem;
	line-height: $line-height;
	margin-top: $line-height;
	margin-bottom: 0;
}
h5, .h5 {
	font-size: 1rem;
	line-height: $line-height;
	margin-top: $line-height;
	margin-bottom: 0;
}


img {
	max-width: 100%;
	height: auto;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: $line-height;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
