// Colors
$color-primary: #222;
$color-secondary: #888;
$color-light: #e0e0e0;
$color-lightest: #efefe0;
$link-color: #004477;
$link-hover-color: darken($link-color, 10%);

$line-height: 1.6666667rem;

// Borders
$border-light: solid 1px rgba($color-primary, .15);


// Fonts
$font-family: Bitter, Georgia, serif;
$font-family-monospace: "Fira mono", monospace;

// Font Size
$font-size-biggest: 2.8rem;
$font-size-largest: 2.3rem;
$font-size-large: 1.2rem;
$font-size-base: 1rem;
$font-size-small: .9rem;
$font-size-smallest: .75rem;

// Spacing
$spacing-small: .75rem;
$spacing-single: 1rem;
$spacing-double: 2rem;
$spacing-triple: 3rem;
$spacing-big: 6rem;

// Media queries
$desktop: 60rem;
$tablet: 45rem;
$mobile: 30rem;

// Animation
$anime-in: .4s;
$anime-out: .5s;
